/**/bin/
/**/obj/
/code translator/.vs
/code translator/codeTranslateMain/.vs/codeTranslateMain/v17
/code translator/codeTranslateMain/.vs/codeTranslateMain/FileContentIndex
/practice/practice/.vs/practice/v17/.suo
